<h1>SimplePages#about</h1>
<h1>About Bike Berlin</h1>
<p>Founded on the 21.06.2018 with the help of a patient tutor </br>
  SiilenceBlack opened his gates all the bikers out there. </br>
  Cause we all know, a guys in suits love bikes!
</p>
<p>Find me in app/views/simple_pages/about.html.erb</p>
