<h1>SimplePages#index</h1>
<h1>Welcome to Bike Berlin </h1>
<h2>Your source for used bikes in Berlin</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <%= image_tag("beach_bike.jpg", class:"img-responsive my-image", size:"cover") %>
    </div>
  </div>
</div>
<!-- <%# test_variable = 42 %>
<%#= test_variable %>
WOOHOO i can put variables in my html by using ERB tags
If i want to comment out ERB tags i´ll have to use ruby
if i use the #, ERB tags will no longer execute-->

<p>Find me in app/views/simple_pages/index.html.erb</p>
