// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-weight: 600;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

footer {
  font-size: 1.2em;
  font-weight: 700;
}
